:root {
    /* Neutral */
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    /* Primary */
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

/* Hover Effects */

.button1:hover,
.button2:hover,
.button3:hover {
    background-image: linear-gradient(hsl(136, 72%, 48%), hsl(192, 90%, 54%));
    border-radius: 30px;
    padding: 12.5px 40px 12.5px 40px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}

.icons>img:hover {
    filter: invert(23%) sepia(96%) saturate(1987%) hue-rotate(129deg) brightness(96%) contrast(94%);
}

@media screen and (max-width: 540px) {

    /*  Common styles */

    body {
        font-family: 'Public Sans';
    }

    .h1 {
        font-size: 2.5rem;
        font-weight: 400;
    }

    .h2 {
        font-size: 1.75rem;
        font-weight: 400;
        padding: 0px 40px 30px 40px;
    }

    .button2,
    .button3 {
        background-image: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        border-radius: 30px;
        padding: 12.5px 40px 12.5px 40px;
        border: none;
        color: white;
        font-weight: 400;
        font-size: 1rem;
    }

    /* Header styles */

    .box-header {
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 30px 20px 30px 20px;
    }

    .nav {
        display: block;
        position: absolute;
        left: 0vw;
        right: 10vw;
        top: 11vh;
        width: 100%;
        text-align: center;
        background-color: rgba(128, 128, 128, 0.01);
        padding: 10%;
        display: none;
    }

    .modal {
        background-color: #ffffff;
        font-size: large;
        border: 1px solid #888;
        width: 80%;
        padding-top: 2rem;
        padding-bottom: 1rem;
        border-radius: 0.75rem;
    }

    .active:hover {
        border-bottom: 0.3rem solid transparent;
        border-image: linear-gradient(45deg, hsl(136, 72%, 48%), hsl(192, 90%, 54%));
        border-image-slice: 1;
    }

    .active {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        color: black;
    }

    #close-icon {
        display: none;
    }

    .nav-items {
        margin-bottom: 1.5rem;
    }

    .button1 {
        display: none;
    }

    /* Boxnext styles */

    .boxnext-content {
        padding: 40px 20px 60px 20px;
    }

    .intro-mockups {
        height: 74vh;
        width: 100%;
        background-color: var(--Very-Light-Gray);
        background-image: url(images/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: cover;
        overflow: clip;
    }

    .boxnext {
        background-color: var(--Very-Light-Gray);
    }

    .imgsize {
        width: 100%;
        margin-top: -35%;

    }

    .boxnext-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: var(--Very-Light-Gray);
    }

    .boxnext-p {
        padding: 30px 0px 30px 0px;
        line-height: 1.5rem;
        color: var(--Grayish-Blue);
    }

    /* Box-why styles */

    .box-why {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: var(--Light-Grayish-Blue);
        padding: 60px 30px 0px 30px;
    }

    .sections-outerbox {
        padding-top: 60px;
    }

    .sections {
        padding-bottom: 40px;
    }

    .h3 {
        font-size: 1.3rem;
        font-weight: 400;
        padding: 30px 0px 30px 0px;
    }

    .sections-p {
        line-height: 1.2rem;
        color: var(--Grayish-Blue);
        font-weight: 300;
        font-size: 0.85rem;
    }

    .whyh2-p {
        line-height: 1.4rem;
        color: var(--Grayish-Blue);
        font-weight: 300;
        font-size: 1rem;
    }

    /* Box-latest styles */

    .box-latest {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--Very-Light-Gray);
        padding-top: 100px;
        padding-bottom: 60px;
    }

    .articles {
        background-color: white;
        text-align: left;
        background-color: white;
        margin: 0px 30px 30px 30px;
    }

    .article-img {
        width: 100%;
    }

    .h4 {
        font-size: 1rem;
        font-weight: 400;
        padding: 20px 30px 20px 30px;
        line-height: 1.2rem;
    }

    .caption-class {
        font-size: 0.65rem;
        padding: 30px 0px 0px 30px;
        color: var(--Grayish-Blue);
    }

    .articles-p {
        padding: 0px 30px 50px 30px;
        font-size: 0.8rem;
        line-height: 1.2rem;
        color: var(--Grayish-Blue);
    }

    /* Box footer styles */

    .box-footer {
        background-color: var(--Dark-Blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }

    .icons {
        padding: 30px 0px 30px 0px;
    }

    .list1-container,
    .list2-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttonAndp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h6 {
        padding-bottom: 20px;
        color: var(--Light-Grayish-Blue);
        font-size: 1rem;
        font-weight: 400;
    }

    .button3 {
        margin: 20px 0px 30px 0px;
    }

    .footer-copyright {
        color: var(--Grayish-Blue);
        padding: 10px 0px 10px 0px;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: center;
    }

    .footer-icons {
        padding-right: 15px;
    }

    .footer-logo {
        margin-left: 20px;
    }

}

@media screen and (min-width: 541px) {
    /*  Common styles */

    body {
        font-family: 'Public Sans';
    }

    .h1 {
        font-size: 2.5rem;
        font-weight: 400;
    }

    .h2 {
        font-size: 1.75rem;
        font-weight: 400;
        padding: 0px 40px 30px 0px;
    }

    .button2,
    .button3,
    .button1 {
        background-image: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        border-radius: 30px;
        padding: 12.5px 40px 12.5px 40px;
        border: none;
        color: rgb(238, 238, 238);
        font-weight: 400;
        font-size: 1rem;
    }



    /* Header styles */

    .box-header {
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 20px 70px 20px 100px;
    }

    .header-logo {
        width: 175px;
        height: 25px;
    }

    .nav {
        padding-top: 5px;
        text-align: center;
    }

    #hamburger-icon {
        display: none;
    }

    #close-icon {
        display: none;
    }

    .nav-items {
        display: inline;
        text-align: center;
    }

    .active {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 400;
        margin-right: 1.5rem;
        padding-bottom: 2rem;
        color: var(--Grayish-Blue);
    }

    .active:hover {
        border-bottom: 0.3rem solid transparent;
        border-image: linear-gradient(45deg, hsl(136, 72%, 48%), hsl(192, 90%, 54%));
        border-image-slice: 1;
    }

    /* Boxnext styles */

    .boxnext-content {
        padding: 40px 20px 0px 20px;
    }

    .intro-mockups {
        width: 100%;
        background-image: url(images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: contain;
        overflow: clip;
        margin-bottom: -12.6%;
    }

    .boxnext {
        display: flex;
        flex-direction: row-reverse;
        background-color: var(--Very-Light-Gray);
    }

    .imgsize {
        width: 100%;
        margin-top: -20%;
    }

    .boxnext-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        background-color: var(--Very-Light-Gray);
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 80px;
    }

    .boxnext-p {
        padding: 30px 0px 30px 0px;
        line-height: 1.5rem;
        color: var(--Grayish-Blue);
    }

    /* Box-why styles */

    .box-why {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        background-color: var(--Light-Grayish-Blue);
        padding: 60px 130px 0px 120px;
    }

    .sections-outerbox {
        display: flex;
        padding-top: 60px;
    }

    .sections {
        padding-bottom: 40px;
        padding-right: 40px;
    }

    .h3 {
        font-size: 1.3rem;
        font-weight: 400;
        padding: 30px 0px 30px 0px;
    }

    .sections-p {
        line-height: 1.2rem;
        color: var(--Grayish-Blue);
        font-weight: 300;
        font-size: 0.85rem;
    }

    .whyh2-p {
        width: 60%;
        line-height: 1.4rem;
        color: var(--Grayish-Blue);
        font-weight: 300;
        font-size: 1rem;
    }

    /* Box-latest styles */

    .box-latest {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        background-color: var(--Very-Light-Gray);
        padding-top: 100px;
        padding-bottom: 60px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .articles-outerbox {
        display: flex;
        justify-content: space-between;
    }

    .articlesh2 {
        padding-left: 12px;
    }

    .articles {
        background-color: white;
        text-align: left;
        background-color: white;
        margin: 0px 10px 30px 10px;
    }

    .article-img {
        width: 100%;
        height: 30vh;
        border-radius: 10px;
    }

    .h4 {
        font-size: 1rem;
        font-weight: 400;
        padding: 20px 30px 20px 30px;
        line-height: 1.2rem;
    }

    .caption-class {
        font-size: 0.65rem;
        padding: 30px 0px 0px 30px;
        color: var(--Grayish-Blue);
    }

    .articles-p {
        padding: 0px 30px 50px 30px;
        font-size: 0.8rem;
        line-height: 1.2rem;
        color: var(--Grayish-Blue);
    }

    /* Box footer styles */

    .box-footer {
        background-color: var(--Dark-Blue);
        display: flex;
        justify-content: space-around;
        padding: 50px;
    }

    .logo-icons-h6 {
        display: flex;
        justify-content: space-around;
    }

    .icons {
        padding: 30px 0px 0px 0px;
    }

    .footer-List {
        display: flex;
        margin: 00px;
    }

    .buttonAndp {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .logo-icons {
        display: flex;
        flex-direction: column;
    }

    .buttonAndp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h6 {
        padding-bottom: 20px;
        color: var(--Light-Grayish-Blue);
        font-size: 1rem;
        font-weight: 400;
    }

    .button3 {
        margin-bottom: 30px;
    }

    .footer-copyright {
        color: var(--Grayish-Blue);
        padding: 10px 0px 10px 0px;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: center;
    }

    .footer-icons {
        padding-right: 5px;
    }

    .list1-container {
        margin-right: 50px;
    }

    .footer-logo {
        padding-bottom: 0px;
        margin-bottom: 15px;
    }
}